$Logo_width_offset: 85vw;
$Logo_height_offset: 25vh;

// carousel arrow
$Half_of_arrow_width: 24px;
// carousel images
$Half_of_MORE_height: 14.5px;

$navBarNormalHeight: 166px;
// $navBarSmallHeight: 96px;
